.form-input {
    display: flex;
    border: 1px solid white;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    align-items: center;
    margin-top: 0.5rem;
}

.form-input input[type='text'] {
    flex-grow: 2;
    border: none;
    background-color: unset;
    color: salmon;
    padding-left: 0.5rem;
}


.form-input input[type='text']:focus {
    outline: unset;
}