.margin-inline-1 {
    margin-inline: 1rem;
}

.margin-block-1 {
    margin-block: 1rem;
}

.padding-block-1 {
    padding-block: 1rem;
}

.padding-inline-half {
    padding-inline: 0.5rem;
}

.padding-inline-1 {
    padding-inline: 1rem;
}